<p>I will add...{{ new.name }}</p>
<hr>
<form (ngSubmit)="add()">
    <input 
        class="input-dbz"
        type="text" 
        placeholder="Name" 
        name="name"
        [(ngModel)]="new.name"
    />
    <!-- [value]="nuevo.nombre"
        (input)="cambiarNombre( $event )" -->

    <input 
        class="input-dbz"
        type="number" 
        placeholder="Power" 
        name="power"
        [(ngModel)]="new.power"
    />

    <button 
        class="add-button-dbz"
        type="submit">
        Add
    </button>

</form>